@font-face {
    font-family: Marta;
    src: url('../assets/fonts/Marta_Regular.otf');
}

@font-face {
    font-family: Marta-Bold;
    src: url('../assets/fonts/Marta_Bold.otf');
}

@font-face {
    font-family: Marta-Italic;
    src: url('../assets/fonts/Marta_Italic.otf');
}